html {
    scroll-behavior: smooth;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    font-family: "Roboto", Helvetica, sans-serif;
    background-color: #18191b;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    width: 98%;
    top: 0;
    background: #0e1215;
    z-index: 1000;
}

header nav a {
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.container {
    padding-top: 10px; 
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
}

#home {
    min-height: 100vh;
}

#about {
    min-height: 5vh; 
}

#experience {
    background-color: #1e1e1e; 
}

#experience h2 {
    font-size: 2em; 
    text-align: center;
}

#home .intro div {
    text-align: top;
    text-align: right; 
    max-width: 60%;
}

#home .intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 70%;
}

#home .intro h2 {
    font-size: 2.5em; 
}

#home .intro p {
    font-size: 1.25em; 
}

#home .intro img {
    border-radius: 50%;
    width: 290px;
    height: 350px;
}

.contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icon {
    margin: 0 20px;
    transition: transform 0.3s ease, filter 0.3s ease; 
    padding-bottom: 40px;
}

.contact-icon:hover {
    transform: scale(1.2);
    filter: brightness(1.2); 
}

.icon-email {
    width: 50px; 
    height: 40px; 
}

.icon-linkedin {
    width: 50px; 
    height: 50px;
}

.block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2px 0;
}

.block div {
    padding: 0 30px;
}

.block .small {
    flex: 1.25s; 
}

.block .large {
    flex: 2; 
}

#about {
    background-color: #2a2a2a; 
    padding: 50px 20px;
    border-top: 8px solid #d92f5f; 
    position: relative; 
    display: flex;
    flex-direction: column;
    width: 100%;
}


#about .small h2 {
    font-size: 2.5em; 
    text-align: center;
    margin-top: 80px;
}

#about .large p {
    font-size: 1.2em;
}

.arrow {
    width: 4vmin;
    height: 4vmin;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    bottom: 30px; 
    transform: translateX(-50%) rotate(135deg); /* Rotate to arrow downwards */
}

.arrow::after {
    content: '';
    width: 100%;
    height: 100%;
    border-width: .4vmin .4vmin 0 0;
    border-style: solid;
    border-color: #fafafa;
    transition: .2s ease;
    display: block;
    transform-origin: 0 100%;
}

.arrow::before,

.arrow:hover::after {
    border-color: #d92f5f;
    transform: scale(1.2); 
}

.arrow:hover::before {
    border-color: #d92f5f;
    transform: scale(.8);
}

#picture-between {
    display: flex;
    flex-direction: column;
    justify-content: bottom;
    align-items: bottom;
    width: 100%;
    height: 230px;
    overflow: hidden; 
    object-fit: cover; 
}

#picture-between img {
    width: 100%;
    object-fit: cover; 
    object-position: bottom;  
    padding-bottom: 0;
    height: 100%;
    background-color: #d92f5f;
}


.education {
    width: 100%; 
    margin: 0; 
    padding: 30px; 
    text-align: center; 
    overflow: hidden; 
    object-fit: cover; 
    margin-left: -20px;
    padding-top: 20px;
}


#education-skills {
    border-top: 8px solid hsl(343, 69%, 52%); 
    background-color: #1e1e1e;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    min-height: 65vh; 
}

.education-details .modules li {
    display: inline-block;
    width: auto; 
    margin: 5px 20px; 
    position: relative; 
    padding-left: 20px; /* space for the bullet */
    font-size: 1.1em; 
}

.education-details .modules li::before {
    content: '•'; 
    position: absolute;
    left: 0;
    color: #ffffff; 
}

#education-skills h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start; /* Ensure content starts at the top */
    align-items: center;
}


.education-details p {
    font-size: 1.25em;
    margin: 20px 0;
}

.education-details .relevant-modules-title {
    margin-top: 40px; 
}

.education-details .modules {
    list-style-type: disc;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.skills-container {
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
} 

#skills {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    overflow: hidden; 
    object-fit: cover; 
    justify-content: flex-start; /* Ensure content starts at the top */
    min-height: 95px;
}
  
.skill {
    text-align: center;
    margin: 10px 20px;
    transition: transform 0.3s ease; 
    vertical-align: middle;
    margin-bottom: 60px;
}

.skill img {
    width: 90px; 
    height: 95px;
    transition: transform 0.3s ease; 
}

.skill img.brightness-low {
    filter: invert(200%) brightness(80%); /*cause the latex is dark and blends w bg */
}

.skill p {
    margin-top: 10px;
    font-size: 1.2em;
    color: #ffffff; 
}

#skills h2 {
    font-size: 2em;
    text-align: top;
    color: #ffffff; 
    vertical-align: middle;
    margin-bottom: 50px;
}

.skill:hover img {
    transform: scale(1.2); 
}


.timeline {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.timeline::after {
    /*line*/
    content: '';
    position: absolute;
    width: 7px;
    background-color: #d92f5f;
    top: 0;
    bottom: 0;
    left: 50%;
}

.timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 40%;
}

.timeline-container.left {
    left: calc(10% - 76px);
}

.timeline-container.right {
    left: 50.2%;
}

.timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #d92f5f;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.timeline-container.right::after {
    left: -16px;
}


.timeline-container .content {
    padding: 10px 20px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.timeline-container .content h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #d92f5f;
}

.timeline-container .content h4 {
    margin-top: -8px;
    font-size: 1.2em;
    color: #333;
}

.timeline-container .content p {
    margin: 10px 0;
    margin-top: -10px;
    color: #666;
}

.timeline-container .content span {
    font-size: 0.9em;
    color: #999;
}

.timeline-container .content {
    padding: 10px 20px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.timeline-container .content:hover {
    transform: scale(1.07); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

#projects {
    min-height: 70vh;
}

#projects h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff; 
    flex-direction: column;
    justify-content: flex-start; /* Ensure content starts at the top */
    align-items: center;
}

.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-box {
    width: 430px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    padding-right: 10px;
}

.project-box img {
    width: 100%;
    height: 300px; 
    object-fit: cover; 
}

.project-box h3 {
    margin-top: 10px;
    font-size: 1.5em;
    color: #d92f5f;
}

.project-box:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


@media only screen and (max-width: 768px) {
    .timeline-container {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .timeline-container.left, .timeline-container.right {
        left: 0;
        right: 0;
    }

    .timeline-container::after {
        display: none;
    }

    .timeline-container.right::after {
        display: none;
    }

    .timeline-container .content {
        text-align: center;
    }
    .timeline-container::after {
        display: none; /* Hide the vertical line */
        width: 0px;
    }

    .project-box {
        width: calc(100% - 40px);
        margin: 20px;
    }

    .timeline::after {
        display: none;
        width: 0px;
        background-color: #d92f5f;
    }
    
}


@media only screen 
    and (max-width: 768px)  { 
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: 100%;
    }

    header .logo {
        margin-bottom: 10px; /* Add margin to space out the name from the menu */
    }
    

    header nav a {
        margin-left: 0;
        margin-right: 15px; 
        text-align: right; 
    }
    

    header nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; /* Allow items to wrap into multiple rows */
        justify-content: center; /* Center items horizontally */
        align-items: center;
    }



    #home .intro {
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding: 30px 10px;

    }

    #home .intro div {
        order: 1;
        width: 100%; 
        text-align: center;
    }

    #home .intro img {
        order: 2;        
        margin-top: 20px; 
    }

    .intro h2 {
        font-size: 1.8em; 
        padding-top: 30px;

    }

    .intro p {
        font-size: 1em; 
    }

    .contact-icons {
        position: relative;
        bottom: 0;
        display: flex;
        flex-direction: row; /* Align icons in a row */
        justify-content: center;
        align-items: center;
    }

    .contact-icon {
        padding-left: 10px;
        margin: 0 20px; /* Adjust space between icons */
        transition: transform 0.3s ease, filter 0.3s ease; /* Add transition for smooth scaling and brightness change */
        padding-bottom: 20px;
    }

    .project-box {
        width: 100%;
        margin: 10px 0;
        padding-right: 20px;
    }

    .timeline-container {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .timeline-container.left,
    .timeline-container.right {
        left: 0;
    }

    .timeline-container.right .content {
        text-align: left;
    }

    .timeline-container::after {
        display: none; /* Hide the vertical line */
        width: 0px;
    }

    .timeline::after {
        display: none;
        width: 0px;
        background-color: #d92f5f;
    }

    #experience .timeline-container {
        width: 100%;
    }

    .timeline-container .content {
        text-align: left;
        padding: 20px;
    }

    #skills .skill {
        width: 30%;
        margin: 6px;
    }

    .skill img {
        width: 55%;
        height: auto;
    }

    .education-details .modules li {
        font-size: 1em; /* Adjust list item size */
    }

    .block {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        height: auto;
        overflow: hidden; 
        object-fit: cover; 
        justify-content: flex-start;
        padding-right: 40px;
        padding-left: 0;

    }

    .block .small h2 {
        font-size: 2em; /* Adjust about me heading size */
        text-align: center; /* Center align heading */
        width: 100%; /* Ensure full width for centering text */

    }

    .block .large p {
        text-align: center; /* Center align paragraph */
        width: 100%; /* Ensure full width for centering text */

    }
    #about .small h2 {
        font-size: 2.5em; 
        text-align: center;
        margin-top: 0px;
    }
    .arrow::after {
        display: none;
    }
    .education {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%; 
        text-align: center; 
        overflow: hidden; 
        padding: 30px; /* Adjust padding as needed */
        padding-left: 20px;
        padding-right: 10px;
    }
    
    .education h2 {
        margin: 0 auto; /* Center the heading within the container */
        text-align: center;
    }
    
}

@media only screen 
    and (max-width: 1024px)  { 

    #home .intro {
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding: 30px 10px;

    }

    #home .intro div {
        order: 1;
        width: 100%; 
        text-align: center;
    }

    #home .intro img {
        order: 2;        
        margin-top: 30px; 
    }

    .intro h2 {
        font-size: 1.8em; 
        padding-top: 30px;

    }
    .intro p {
        font-size: 1em; 
    }

    .contact-icon {
        padding-bottom: 20px;
    }
}

